langchain
langgraph
langchain_community
langchain-openai
langchain-groq
langchain-google-genai
langchain-huggingface
langchain-ollama

transformers
torch
accelerate
huggingface_hub
sentence-transformers

chromadb
faiss-cpu

pypdf
beautifulsoup4
unstructured

python-dotenv
ipykernel
streamlit
pydantic
pypdf